@charset "UTF-8";

/* 基本色 */
:root {
  --main-color: #5D9AB2;
  --accent-color: #BF6A7A;
  --dark-main-color: #2B5566;
  --text-bright-color: #fff;
  --icon-color: #fff;
  --icon-bk-color: #ddd;
  --gray-color: #ddd;
  --large-width: 1000px;
  --middle-width: 800px;
}


/* 基本設定： フォントサイズ */
@media (max-width: 599px) {
  :root {
    font-size: 14px;
  }
}

@media (min-width: 600px) and (max-width: 799px) {
  :root {
    font-size: 16px;
  }
}

@media (min-width: 800px) {
  :root {
    font-size: 18px;
  }
}

body {font-size: 16px;}



/* 基本設定： ページ全体 */
body {
  margin: 0;
  font-family: 'メイリオ',
    'Hiragino Kaku Gothic Pro', 
    sans-serif;
}


/* ヘッダー */
header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  background-color: rgba(255,255,255,0.9);
}

.nohero header {
  position: static;
  border-bottom: solid 1px #ddd;
  border-bottom: solid 1px var(--gray-color);
}

/* ヘッダーA: サイト名 */
.headA {
  display: inline-block;
  line-height: 70px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #5D9AB2;
  background-color: var(--main-color);
  color: #fff;
  color: var(--text-bright-color);
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  text-decoration: none;
}


/* ヘッダーB： ナビゲーションメニュー */
.headB ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.headB a {
  display: block;
  padding: 15px;
  color: inherit;
  font-size: 12px;
  text-decoration: none;
}

.headB a:hover {
  background-color: rgba(0,0,0,0.3);
}

@media (min-width: 768px) {
  header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1000px;
    max-width: var(--large-width);
    margin-left: auto;
    margin-right: auto;
  }

  .headB ul {
    display: flex;
  }
}


/* ヘッダーC： トグルボタン */

@media (max-width: 767px) {
  /* 小さい画面用の設定 */
  header .container-small {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .headC {
    margin-right: 10px;
    padding: 0;
    border: none;
    outline: none;
    background: none;
    font-size: 28px;
    opacity: 0.5;
    cursor: pointer;
  }

  .headC:hover {
    opacity: 0.3;
  }

  .headB {
    display: none;
  }
}

@media (min-width: 768px) {
  /* 大きい画面用の設定 */
  .headC {
    display: none;
  }

  .headB {
    display: block !important;
  }
}