@charset "UTF-8";



.member {
  width: 320px;
  margin: 40px auto;
  padding: 20px 15px;
  background-color: #fafafa;
  border-radius: 4px;
}
.member-field {
  margin-bottom: 5px;
}
.member-field label {
  display: block;
  overflow: hidden;
  height: 0;
}
.member-field .form-registration {
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 5px;
  border: 1px solid #e0e0e0;
  border-radius: 2px;
  padding: 10px 15px;
  font-size: 14px;
}
.login-submit {
  -webkit-appearance: none;
  appearance: none;
  display: block;
  width: 100%;
  border: none;
  border-radius: 2px;
  margin-top: 10px;
  padding: 0.75em;
  background-color: #039be5;
  font-size: 14px;
  text-align: center;
  color: #fafafa;
}