.member-list {
  width: 100%;
  margin: 0 auto;
}



table .abc{
  width: 320px;
  margin: 0 auto;
  border-collapse: collapse;
}

table, th, td {
  border: solid 1px #aaa;
}

th, td {
  padding: 8px;
  font-size: 14px;
  text-align: center;
  vertical-align: top;
}

th {
  background-color: #be6;
}

tr .abc > :first-child {
  width: 120px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

tbody:nth-child(even) {
  background: #e3ecf5;
}

.member-list, .workplace-list {
  margin-bottom: 20px;
}