<div class="edit-name">
<%= form_for @member do |f| %>
<div class="field">
    <%= f.label :name, "作業員名" %>
    <%= f.text_field :name %>
  </div>

  <div class="actions">
    <%= f.submit "更新する" %>
  </div>
<% end %>
</div>