<div class="contents row" >
  <% @members.each do |member| %>
    <% if user_signed_in? && current_user.id == member.user_id %>
      <p><%= member.name %><%= link_to '削除', "/members/#{member.id}", method: :delete %></p>
    <% end %>
  <% end %>
</div>